body { font-family: arial; }
#canvas
{ border: 10px solid #DFDFDF; width: 520px; height: 520px; position: relative; margin: 0 auto; 
  background: url('../images/cell_bg.gif'); }

.grid_cell
{ border: 1px solid #EFEFEF; position: absolute; display: none; }    
  .highlight
  { background-color: #FFDFDF; display: block; }

#lives
{ font-size: 30px; color:red;}
#scores
{ font-size: 30px; color:#7F7F7F; }


.tower { position: absolute; border: 1px solid transparant; }
  .canon
  { background: url('../images/tower_1.png') no-repeat top left; }
    .turret
    { width: 4px; height: 4px; background-color: black; position: absolute; display: none;}
    
.tower_select
{ border: 1px solid red !important; }    

#overlay
{ border: 1px solid green; position: absolute; }
    
.bullet
{ position: absolute; font-size: 0px; }
  .canon_level_1
  { width: 3px; height: 3px; line-height: 3px; background-color: black; }

.creep
{ position: absolute; width: 20px; height: 20px; }
  .hp_wrapper
  { width: 20px; background-color: #BFBFBF; height: 4px; border: 1px solid #7F7F7F; margin-top: 18px; line-height: 4px;font-size: 0px;}
    .hp
    { width: 80%; background-color: #B3FFAF; height: 4px;line-height: 4px; font-size: 0px;}
  
.soot
{ background: url('../images/soot.png') no-repeat top left; }

  .level_2
  { background: url('../images/soot_level2.gif') no-repeat top left; }
  
.lockedOn
{ border: 1px solid red !important; }
    
.bb
{ border: 1px solid red; position: absolute; }

.highlight
{ border: 1px solid red; }
.center
{ width: 2px; height: 2px; position: absolute; background-color: red; }

